html,
body,
* {
    font-family: 'Times New Roman', Times, serif;
}

.montserrat-400,
footer * {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 26px;
}

section {
    overflow: hidden;
    min-height: 100vh;
}

.navbar {
    --bs-navbar-toggler-focus-width: 0 !important;
    transition: all ease-in-out 350ms;
}

.navbar.scrolled,
.navbar.nav-showed {
    background-color: #0b162e !important;
}

.navbar-brand img {
    max-height: 64px;
    width: auto;
    transition: all ease-in-out 350ms;
}

.navbar-brand-text img {
    width: auto;
    height: 26px;
    transition: all ease-in-out 350ms;
}

.navbar-brand-divider {
    position: absolute;
    left: 20px;
    right: 0;
    height: 1px;
    background-color: white;
    transition: all ease-in-out 350ms;
}

.navbar-brand-fullname {
    font-size: 8px;
    font-size: 8px;
    display: block;
    line-height: 20px;
    transition: all ease-in-out 350ms;
}

.navbar .wa-wrapper {
    --icon-size: 24px;
    --icon-wrapper-size: calc(var(--icon-size) + 1px);
    background-color: #74af62;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: var(--icon-size);
    width: var(--icon-wrapper-size);
    height: var(--icon-wrapper-size);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px;
}

.navbar .nav-link {
    color: white !important;
}

nav.navbar.scrolled:not(.nav-showed) :is(.navbar-brand, .navbar-brand-text) img {
    align-self: center !important;
}

nav.navbar.scrolled:not(.nav-showed) .navbar-brand-text img {
    margin-top: 2px !important;
}

nav.navbar.scrolled:not(.nav-showed) .navbar-brand img {
    height: 44px;
    margin-top: 1px !important;
}

nav.navbar.scrolled:not(.nav-showed) :is(.navbar-brand-fullname, .navbar-brand-divider) {
    display: none;
}

.hamburgers-icon {
    width: 36px;
    aspect-ratio: 1 / 1;
    background-color: #0d3b59;
}

html body *:is(.btn, [type=button]) {
    outline: none !important;
    border: none !important;
}

html body *:is(.btn, [type=button], button):focus {
    outline: none !important;
    border: none !important;
}

.jumbotron .slider-img {
    object-fit: cover;
    min-height: 270px;
    max-width: 100%;
    width: auto;
    object-position: right;
    aspect-ratio: 1.3 / 1;
}

.jumbotron .caption {
    bottom: 32px;
    position: relative;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.caption .caption-title {
    font-size: 26px;
    line-height: 1.3;
    margin-bottom: 20px;
    color: #000;
}

.caption .caption-desc {
    font-size: 13px;
    font-weight: 500;
}

.caption-author {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #000;
}

.right-arrow-svg {
    --right-arrow-size: 24px;
    background-color: #0d3b59;
    aspect-ratio: 1/1;
    height: calc(var(--right-arrow-size) + 6px);
}

.right-arrow-svg svg {
    color: white;
    font-size: var(--right-arrow-size);
}

.right-arrow-svg+span {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
}

section .our-skill-img {
    width: 100%;
    height: auto;
}

.skill-title {
    font-size: 11px;
    font-weight: 500;
    color: #b50811;
    letter-spacing: 1px;
}

.skill-excerp {
    font-size: 26px;
    margin-bottom: 20px;
    line-height: 1.25;
}

.skill-desc {
    font-weight: 300;
    font-size: 13px;
}

.hamburgers-icon svg {
    color: white;
    font-size: 24px;
}

.our-experience-img {
    width: 100%;
    height: auto;
}

.more-about-us .right-arrow-svg {
    background-color: #b50811;
}

section.our-experience {
    background-color: #0b162e;
}

.experience-title {
    font-size: 11px;
    font-weight: 500;
    color: #b50811;
    letter-spacing: 1px;
}

.experience-excerp {
    font-size: 26px;
}

.experience-desc {
    font-weight: 300;
    font-size: 13px;
}

section.our-product {
    background-color: #efefef;
}

.product-title {
    font-size: 11px;
    font-weight: 500;
    color: #b50811;
    letter-spacing: 1px;
}

.product-excerp {
    font-size: 26px;
}

.product-item {
    margin-top: 30px;
}

.product-name {
    font-size: 14px;
    text-align: center;
}

.product-pict {
    aspect-ratio: 296 / 208;
    width: 296px;
}

.product-link {
    font-size: 11px;
}

.product-link svg-from-file {
    font-size: 15px;
}

.quality-title {
    font-size: 11px;
    font-weight: 500;
    color: #b50811;
    letter-spacing: 1px;
}

.quality-container .quality-img {
    width: 100%;
    max-width: 210px;
}

.quality-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quality-item .quality-name {
    font-size: 14px;
    text-align: center;
    font-weight: 500;
}

section.our-dedication {
    background-color: #efefef;
}

.dedication-desc {
    font-weight: 700;
    font-size: 18px;
}

footer {
    background-color: #0b162e;
}

footer [class|="part"]:not(.part-logo)>* {
    border-top: 3.5px solid white;
    padding-top: 20px;
    margin-top: 30px;
}

footer .part-logo img {
    max-height: 70px;
    height: auto;
}

div:is(.part-contact, .part-address) strong {
    font-size: 13px;
    font-weight: 700;
}

.footer-email,
.footer-phone,
.footer-address,
footer .nav-link {
    font-size: 12px;
    font-weight: 500;
    line-height: 25px;
}

.footer-email {
    color: #ff2929;
}

.part-sitemap .nav-link {
    font-weight: 700;
}

footer .copyright * {
    font-size: 12px;
    line-height: 25px;
    color: #fff;
    margin: 0;
    opacity: .5;
    display: block;
}

footer .copyright h5 {
    opacity: .7;
}